:root{
    --text: #ffffff;
    --text-secondary:#ffffffad;
    --background: #000000;
    --primary: #2e0d00;
    --secondary: #b07243;
    --accent: #67c034;
    --background-secondary: #2e2e2e;

    --transition-time: 0.3s;
}